<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login With Google</title>
  </head>
  <body class="h-screen">
    <div class="w-full h-full flex p-5">
      <div class="m-auto space-y-4 flex flex-col items-center">
        <h1>Login</h1>
        <a
          class="bg-gray-400 hover:bg-gray-600 px-6 py-2 rounded-3xl text-white"
          href="/google"
          >Login With Google</a
        >
      </div>
    </div>
  </body>
</html>
